:root {
  --main-color: rgb(48, 128, 68);
  --secondary-color: #ef962d;
  --third-color: #9c5518;
  --fourth-color: #5a3f11;
}

* {
  padding: 0;
  margin: 0;
}

body {
  padding: 0;
  margin: 0;
  background-color: tan;
}

button {
  margin: 1% 0;
  padding: 5px;
  color: rgb(49, 214, 123);
  background-color: var(--main-color);
  border-color: goldenrod;
  border-radius: 5px;
  font-weight: 800;
  box-shadow: 10px 10px 18px #200e0e;
}

h2, h3 {
  padding: 2%;
}

p {
  color: rgb(48, 58, 32);
}

input {
  margin: 1%;
}

form {
  margin: 2%;
}

#Header {
  background-color: brown;
  border-radius: 5px;
  border-color: rgb(218, 126, 13);
  border-width: 2px;
  border-style: solid;
  margin: 10px;
  padding: 0.5%;
  position: fixed;
  width: 1700px;
  text-align: center;
  align-content: center;
  opacity: 60%;
}

#container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: 3px;
  text-align: center;
  margin: 0 3%;
  background-color: var(--third-color);
  padding: 7.5% 5%;
}

#CurrentState {
  background-color: tan;
  border: rgb(12, 14, 14);
  border-width: 2px;
  border-radius: 5px;
  margin: 10px;
  border-style: solid;
  box-shadow: 10px 10px 18px #200e0e;
}

#DailyKeg {
  background-color: var(--main-color);
  border-style: solid;
  border-radius: 5px;
  box-shadow: 10px 10px 18px #200e0e;
}

#kegImage {
  width: 300px;
  border: var(--third-color) 3px solid;
  box-shadow: 10px 10px 18px #200e0e;
  border-radius: 50%;
}

#DailyKegButton {
  margin: 5%;
  color: aliceblue;
  background-color: burlywood;
}

#kegDetailImage{
  width: 300px;
  margin: 1%;
  border: var(--third-color) 1px solid;
}

#KegListElement {
  margin-bottom: 2%;
  background-color: rgb(161, 109, 46);
  border-radius: 5px;
  border-color: black;
  border-style: solid;
  border-width: 1px;
  margin: 5px;
  box-shadow: 10px 10px 8px #200e0e;
}

h1 {
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  color: rgb(255, 102, 0);
}

h2 {
  color: green;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  text-shadow: 2px 2px 8px rgb(22, 17, 17);
}